<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" href="~/assets/favicon-32x32.png" type="image/png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] ~ Designo</title>
	<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
	<header>
	</header>
	@RenderBody()



	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>