
<div class="w-full  relative max-h-[85vh]  sm:w-[90%] xl:w-[100%] mx-auto  sm:rounded-[5px] overflow-hidden  py-[80px] bg-no-repeat  bg-cover bg-center   "
	 style="background-image:linear-gradient(to left top,rgba(231, 129, 107,0.9) ,rgba(231, 129, 107,0.9	)
						), url( '/assets/shared/desktop/bg-pattern-call-to-action.svg'); ">

	<div class="w-[90%] sm:w-[60%] lg:w-[40%] mx-auto text-center">
		<h2 class="text-heading-h2 text-white-primary">@Model.Name</h2>
		<p class="text-body-p mt-[20px] text-white-primary">@Model.Description</p>
	</div>
</div>