<div class="w-[90%] xl:w-[100%] mx-auto mt-[10vh] flex flex-wrap flex-col lg:justify-between gap-2 lg:flex-row ">

	<div class="w-full	  flex flex-col sm:flex-row justify-between gap-2  ">


		@foreach(var thisPage in Model)
		{
			<a class="w-full sm:w-[48%] overflow-hidden  rounded-[5px]  bg-no-repeat  bg-cover bg-center   block" asp-page=@thisPage.Link
			   style="background-image: url(@thisPage.Image);">
				<div class="w-full  bg-black-primary/50 hover:bg-peach-primary/70 h-[250px] flex flex-col gap-2 justify-center items-center ">
					<h2 class="text-heading-h2 text-white-primary text-center ">@thisPage.Name</h2>
					<p class="text-body-p text-white-primary tracking-[2px]">VIEW PROJECTS <span class="text-peach-primary font-medium">></span></p>
				</div>

			</a>
		}

	

		</div>


</div>