@page
@model Designo.Pages.ContactModel
@{
	ViewData["Title"] = "Contact";

	var Links = new[]
		{
		new {Name = "CANADA", Image = "/assets/shared/desktop/illustration-canada.svg"},
		new {Name = "AUSTRALIA", Image = "/assets/shared/desktop/illustration-australia.svg"},

		new {Name = "UNITED KINGDOM", Image = "/assets/shared/desktop/illustration-united-kingdom.svg"}

	}.ToList();
}


<div class="w-full sm:w-[90%] xl:w-[100%] mx-auto my-[10vh]   sm:rounded-[5px] overflow-hidden flex flex-col md:flex-row flex-wrap items-center gap-10 justify-between  ">


	@foreach (var link in Links)
	{
		<div class="w-full md:w-[30%] text-center ">
			<div class="bg-no-repeat bg-center bg-[url('/assets/shared/desktop/bg-pattern-small-circle.svg')]">
				<img class="block w-[200px] h-[200px] mx-auto" src=@link.Image />
			</div>
			<h3 class="text-heading-h3 text-black-primary text-center my-[30px]">@link.Name</h3>
			<a class="inline-block  text-white-primary text-[15px] font-medium bg-peach-primary hover:bg-peach-secondary cursor-pointer px-[20px] py-[15px] rounded-[7px]">SEE LOCATION</a>
		</div>
	}




</div>
