@page
@model Designo.Pages.ContactModel
@{
	ViewData["Title"] = "Contact";

	var Links = new[]
		{
		new {Name = "CANADA", Image = "/assets/shared/desktop/illustration-canada.svg"},
		new {Name = "AUSTRALIA", Image = "/assets/shared/desktop/illustration-australia.svg"},

		new {Name = "UNITED KINGDOM", Image = "/assets/shared/desktop/illustration-united-kingdom.svg"}

	}.ToList();
}


<div class="w-[90%] tablet:w-full mx-auto    sm:rounded-[5px] overflow-hidden flex flex-col md:flex-row flex-wrap items-center gap-10 justify-between my-[10vh]">


	@foreach (var link in Links)
	{
		<div class="w-full md:w-[30%] text-center ">
			<div class="bg-no-repeat bg-center bg-[url('/assets/shared/desktop/bg-pattern-small-circle.svg')]">
				<img class="block w-[200px] h-[200px] mx-auto" src=@link.Image />
			</div>
			<h3 class="heading-h3 text-black-primary text-center my-[20px]">@link.Name</h3>
			<a class="light-btn mx-auto">SEE LOCATION</a>
		</div>
	}




</div>
