@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="text-heading-h1" >Welcome</h1>
    <h1 class="text-heading-h2">Welcome</h1>
    <h1 class="text-heading-h3">Welcome</h1>

    <h1 class="text-heading-p">Welcome</h1>

</div>
