@page
@model IndexModel
@{
	ViewData["Title"] = "Home";
}


<div class="w-full relative max-h-[85vh]  sm:w-[90%] xl:w-[100%] mx-auto  sm:rounded-[5px] overflow-hidden z-1 ">

	<img src="~/assets/home/desktop/bg-pattern-hero-home.svg" alt="background" class="w-[80%] sm:w-[60%] absolute top-[10vh] sm:top-[0] right-[-10%] z-[1]  sm:right-[0] " />

	<div class="w-full bg-peach-primary relative z-2">
		<div class="w-[90%] sm:w-[80%] mx-auto flex flex-wrap flex-col lg:flex-row gap-10 overflow-hidden pt-[10vh] lg:pt-[0] lg:items-center">
			<div class="text-center lg:w-[50%] lg:text-left">
				<h3 class=" text-[32px] leading-[40px] font-medium tracking-[1px] text-white-primary ">
					Award-winning custom designs and digital branding solutions
				</h3>
					<p class="text-body-p text-white-primary my-[20px]">With over 10 years in the industry, we are experienced in creating fully responsive websites, app design, and engaging brand experiences. Find out more about our services.</p>
				<a class="btn-dark">LEARN MORE</a>

			</div>
			<div class="mx-auto">
				<img src="~/assets/home/desktop/image-hero-phone.png" alt="home-image" class="w-[300px]  mx-auto relative top-[-80px] lg:top-[0]" />
			</div>
		</div>
	</div>

</div>


<div class="w-[90%] xl:w-[100%] mx-auto my-[10vh] flex flex-wrap flex-col lg:justify-between gap-2 lg:flex-row ">

	<a class="block w-full lg:w-[49%] overflow-hidden  rounded-[5px]  bg-no-repeat  bg-cover bg-center" asp-page="/WebDesign"
	   style="background-image: url( '/assets/home/desktop/image-web-design-small.jpg');">
		<div class="w-full  h-[250px] lg:h-[510px] bg-black-primary/50 hover:bg-peach-primary/70 flex flex-col gap-2 justify-center items-center ">
			<h2 class="text-heading-h2 text-white-primary ">WEB DESIGN</h2>
			<p class="text-body-p text-white-primary tracking-[2px]">VIEW PROJECTS <span class="text-peach-primary font-medium">></span></p>
		</div>

	</a>
	<div class="w-full lg:w-[49%]  flex flex-col justify-between gap-2 lg:gap-auto ">

		<a class="w-full overflow-hidden  rounded-[5px]  bg-no-repeat  bg-cover bg-center   block" asp-page="/AppDesign"
		   style="background-image: url( '/assets/home/desktop/image-app-design.jpg');">
			<div class="w-full  bg-black-primary/50 hover:bg-peach-primary/70 h-[250px] flex flex-col gap-2 justify-center items-center ">
				<h2 class="text-heading-h2 text-white-primary ">APP DESIGN</h2>
				<p class="text-body-p text-white-primary tracking-[2px]">VIEW PROJECTS <span class="text-peach-primary font-medium">></span></p>
			</div>

		</a>

		<a class="w-full overflow-hidden  rounded-[5px]  bg-no-repeat  bg-cover bg-center  block" asp-page="/GraphicDesign"
		   style="background-image: url( '/assets/home/desktop/image-graphic-design.jpg');">
			<div class="w-full  bg-black-primary/50 hover:bg-peach-primary/70 h-[250px] flex flex-col gap-2 justify-center items-center ">
				<h2 class="text-heading-h2 text-white-primary ">GRAPHIC DESIGN</h2>
				<p class="text-body-p text-white-primary tracking-[2px]">VIEW PROJECTS <span class="text-peach-primary font-medium">></span></p>
			</div>

		</a>
	</div>


</div>


<div class="w-[90%] xl:w-[100%] gap-20 mx-auto flex flex-wrap flex-col lg:justify-between lg:gap-0 lg:flex-row ">

	<div class="w-full flex flex-col flex-wrap sm:flex-row lg:flex-col gap-4 lg:w-[30%] ">
		<div class="bg-no-repeat bg-center bg-[url('/assets/shared/desktop/bg-pattern-small-circle.svg')]">
			<img class="block w-[200px] h-[200px] mx-auto" src="~/assets/home/desktop/illustration-passionate.svg" />
		</div>
		<div class="text-center  sm:w-[60%] my-auto  lg:w-full  ">
			<h3 class="text-heading-h3 text-black-primary mb-4">PASSIONATE</h3>
			<p class="text-body-p text-black-primary">Each project starts with an in-depth brand research to ensure we only create products that serve a purpose. We merge art, design, and technology into exciting new solutions.</p>
		</div>
	</div>
	<div class="w-full flex flex-col flex-wrap sm:flex-row lg:flex-col gap-4 lg:w-[30%] ">
		<div class="bg-no-repeat bg-center bg-[url('/assets/shared/desktop/bg-pattern-small-circle.svg')]">

			<img class="block w-[200px] h-[200px] mx-auto" src="~/assets/home/desktop/illustration-resourceful.svg" />
		</div>
		<div class="text-center  sm:w-[60%] my-auto  lg:w-full  ">
			<h3 class="text-heading-h3 text-black-primary mb-4">RESOURCEFUL</h3>
			<p class="text-body-p text-black-primary">
				Everything that we do has a strategic purpose. We use an agile approach in all of our projects and value customer collaboration. It guarantees superior results that fulfill our clients’ needs.
			</p>
		</div>
	</div>
	<div class="w-full flex flex-col flex-wrap sm:flex-row lg:flex-col gap-4 lg:w-[30%] ">
		<div class="bg-no-repeat bg-center bg-[url('/assets/shared/desktop/bg-pattern-small-circle.svg')]">

			<img class="block w-[200px] h-[200px] mx-auto" src="~/assets/home/desktop/illustration-friendly.svg" />
		</div>
		<div class="text-center  sm:w-[60%] my-auto  lg:w-full  ">
			<h3 class="text-heading-h3 text-black-primary mb-4">FRIENDLY</h3>
			<p class="text-body-p text-black-primary">
		
				We are a group of enthusiastic folks who know how to put people first. Our success depends on our customers, and we strive to give them the best experience a company can provide.
			</p>
		</div>
	</div>

</div>
