@page
@model Designo.Pages.LocationsModel
@{

	ViewData["Title"] = "Locations";
}



<div class="w-[90%] tablet:w-full mx-auto overflow-hidden">

	<div class="w-full mx-auto grid grid-cols-1 desktop:grid-cols-3   gap-2 ">
		<img src="~/assets/locations/desktop/image-map-canada.png" class="desktop:order-last w-full h-[300px] mx-auto rounded-[10px]" />


		<div class="col-span-2 w-full rounded-[10px] h-[300px] flex flex-col flex-wrap items-center justify-center bg-peach-primary/20 bg-[url('/assets/shared/desktop/bg-pattern-call-to-action.svg')]  ">


			<div class="w-[90%] tablet:w-[80%] mx-auto">


				<h2 class="heading-h2 text-peach-primary mb-[2rem] text-center tablet:text-left">Canada</h2>


				<div class="w-full flex flex-col sm:flex-row flex-wrap justify-between  gap-8">
					<div class="text-center tablet:text-left sm:w-fit  ">
						<h3 class="heading-h3 text-black-primary">Designo Central Office</h3>
						<p class="body-p text-black-primary">3886 Wellington Street</p>
						<p class="body-p text-black-primary">Toronto, Ontario M9C 3J5</p>
					</div>
					<div class="text-center sm:text-left sm:w-fit  ">
						<h3 class="heading-h3 text-black-primary">Contact</h3>
						<p class="body-p text-black-primary">P : +1 253-863-8967</p>
						<p class="body-p text-black-primary">M : contact@designo.co</p>
					</div>

				</div>
			</div>
		</div>

	</div>



	<div class="w-full mx-auto grid grid-cols-1 desktop:grid-cols-3   gap-2 my-[5vh] ">
		<img src="~/assets/locations/desktop/image-map-australia.png" class=" w-full mx-auto h-[300px] rounded-[10px]" />


		<div class="col-span-2 w-full rounded-[10px] h-[300px] flex flex-col flex-wrap items-center justify-center bg-peach-primary/20 bg-[url('/assets/shared/desktop/bg-pattern-call-to-action.svg')]  ">


			<div class="w-[90%] tablet:w-[80%] mx-auto">


				<h2 class="heading-h2 text-peach-primary mb-[2rem] text-center tablet:text-left">Australia</h2>


				<div class="w-full flex flex-col sm:flex-row flex-wrap justify-between  gap-8">
					<div class="text-center tablet:text-left sm:w-fit  ">
						<h3 class="heading-h3 text-black-primary">Designo AU Office</h3>
						<p class="body-p text-black-primary"> 19 Balonne Street</p>
						<p class="body-p text-black-primary">New South Wales 2443</p>
					</div>
					<div class="text-center sm:text-left sm:w-fit  ">
						<h3 class="heading-h3 text-black-primary">Contact</h3>
						<p class="body-p text-black-primary">P : (02) 6720 9092</p>
						<p class="body-p text-black-primary">M : contact@designo.au</p>
					</div>

				</div>
			</div>
		</div>

	</div>






	<div class="w-full mx-auto grid grid-cols-1 desktop:grid-cols-3   gap-2  ">
		<img src="~/assets/locations/desktop/image-map-united-kingdom.png" class="desktop:order-last w-full mx-auto h-[300px] rounded-[10px]" />


		<div class="col-span-2 w-full rounded-[10px] h-[300px] flex flex-col flex-wrap items-center justify-center bg-peach-primary/20 bg-[url('/assets/shared/desktop/bg-pattern-call-to-action.svg')] mx-auto ">


			<div class="w-[90%] tablet:w-[80%] mx-auto py-[2rem]">


				<h2 class="heading-h2 text-peach-primary mb-[2rem] text-center tablet:text-left">United Kingdom</h2>


				<div class="w-full flex flex-col sm:flex-row flex-wrap justify-between  gap-8">
					<div class="text-center tablet:text-left sm:w-fit  ">
						<h3 class="heading-h3 text-black-primary">Designo UK Office</h3>
						<p class="body-p text-black-primary"> 13  Colorado Way</p>
						<p class="body-p text-black-primary">Rhyd-y-fro SA8 9GA</p>
					</div>
					<div class="text-center sm:text-left sm:w-fit  ">
						<h3 class="heading-h3 text-black-primary">Contact</h3>
						<p class="body-p text-black-primary">P : 078 3115 1400</p>
						<p class="body-p text-black-primary">M : contact@designo.uk</p>
					</div>

				</div>
			</div>
		</div>

	</div>

</div>
