@page
@model Designo.Pages.LocationsModel
@{

	ViewData["Title"] = "Locations";
}


<div class="w-full sm:w-[90%] xl:w-[100%] mx-auto  overflow-hidden 	">

	<div class="w-[90%] sm:w-full mx-auto flex flex-col md:flex-row-reverse justify-between flex-wrap gap-6 ">
		<img src="~/assets/locations/desktop/image-map-canada.png" class="w-full md:w-[300px] h-[300px] rounded-[5px]" />
		<div class="w-full md:w-[55%] lg:w-[65%] rounded-[5px] h-[300px] flex flex-col flex-wrap items-center justify-center"
			 style="background-image:linear-gradient(to left top,rgba(231, 129, 107,0.4) ,rgba(231, 129, 107,0.4)
						), url( '/assets/shared/desktop/bg-pattern-call-to-action.svg'); ">
			<div class="w-[90%] lg:w-[70%] mx-auto">
				<h2 class="text-heading-h2 text-peach-primary mb-[20px] text-center sm:text-left">Canada</h2>
				<div class="w-full flex flex-col sm:flex-row flex-wrap justify-between  gap-8">
					<div class="text-center sm:text-left sm:w-fit  ">
						<h3 class="text-[17px] leading-[26px] font-medium text-black-primary">Designo Central Office</h3>
						<p class="text-body-p text-black-primary">3886 Wellington Street</p>
						<p class="text-body-p text-black-primary">Toronto, Ontario M9C 3J5</p>
					</div>
					<div class="text-center sm:text-left sm:w-fit  ">
						<h3 class="text-[17px] leading-[26px] font-medium text-black-primary">Contact</h3>
						<p class="text-body-p text-black-primary">P : +1 253-863-8967</p>
						<p class="text-body-p text-black-primary">M : contact@designo.co</p>
					</div>

				</div>
			</div>
		</div>

	</div>


	<div class="w-[90%] sm:w-full mx-auto my-[5vh] flex flex-col md:flex-row justify-between flex-wrap gap-6 ">
		<img src="~/assets/locations/desktop/image-map-australia.png" class="w-full md:w-[300px] h-[300px] rounded-[5px]" />
		<div class="w-full md:w-[55%] lg:w-[65%] rounded-[5px] h-[300px] flex flex-col flex-wrap items-center justify-center"
			 style="background-image:linear-gradient(to left top,rgba(231, 129, 107,0.4) ,rgba(231, 129, 107,0.4)
						), url( '/assets/shared/desktop/bg-pattern-call-to-action.svg'); ">
			<div class="w-[90%] lg:w-[70%] mx-auto">
				<h2 class="text-heading-h2 text-peach-primary mb-[20px] text-center sm:text-left">Australia</h2>
				<div class="w-full flex flex-col sm:flex-row flex-wrap justify-between  gap-8">
					<div class="text-center sm:text-left sm:w-fit  ">
						<h3 class="text-[17px] leading-[26px] font-medium text-black-primary">Designo AU Office</h3>
						<p class="text-body-p text-black-primary"> 19 Balonne Street</p>
						<p class="text-body-p text-black-primary">New South Wales 2443</p>
					</div>
					<div class="text-center sm:text-left sm:w-fit  ">
						<h3 class="text-[17px] leading-[26px] font-medium text-black-primary">Contact</h3>
						<p class="text-body-p text-black-primary">P : (02) 6720 9092</p>
						<p class="text-body-p text-black-primary">M : contact@designo.au</p>
					</div>

				</div>
			</div>
		</div>

	</div>


	<div class="w-[90%] sm:w-full mx-auto  flex flex-col md:flex-row-reverse justify-between flex-wrap gap-6 ">
		<img src="~/assets/locations/desktop/image-map-united-kingdom.png" class="w-full md:w-[300px] h-[300px] rounded-[5px]" />
		<div class="w-full md:w-[55%] lg:w-[65%] rounded-[5px] h-[350px] sm:h-[300px] flex flex-col flex-wrap items-center justify-center"
			 style="background-image:linear-gradient(to left top,rgba(231, 129, 107,0.4) ,rgba(231, 129, 107,0.4)
						), url( '/assets/shared/desktop/bg-pattern-call-to-action.svg'); ">
			<div class="w-[90%] lg:w-[70%] mx-auto">
				<h2 class="text-heading-h2 text-peach-primary mb-[20px] text-center sm:text-left">United Kingdom</h2>
				<div class="w-full flex flex-col sm:flex-row flex-wrap justify-between  gap-8">
					<div class="text-center sm:text-left sm:w-fit  ">
						<h3 class="text-[17px] leading-[26px] font-medium text-black-primary">Designo UK Office</h3>
						<p class="text-body-p text-black-primary"> 13  Colorado Way</p>
						<p class="text-body-p text-black-primary">Rhyd-y-fro SA8 9GA</p>
					</div>
					<div class="text-center sm:text-left sm:w-fit  ">
						<h3 class="text-[17px] leading-[26px] font-medium text-black-primary">Contact</h3>
						<p class="text-body-p text-black-primary">P : 078 3115 1400</p>
						<p class="text-body-p text-black-primary">M : contact@designo.uk</p>
					</div>

				</div>
			</div>
		</div>

	</div>

</div>


